<div class="main">
  <div class="container" id="feedContainer">
        <%if !@following.empty?%>
          <%if @post!=nil%>
              <div class="feed">
                <%@profile.each do |profile|%>
                  <%@post.each do |post|%>
                      <%if profile.posts.count>0 && post.profile_id==profile.id%>
                          <div class="row">
                            <div id="eachPost">
                            <div class="col lg-6">
                              <%=image_tag profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                            <%=link_to "#{profile.user_name}",profile_path(profile.id),class:"btn btn primary"%>
                              <p class="location"><%=post.location%></p>
                             <div class="eachImage">
                               <%if post.images.attached?%>
                                                    <%if  post.images.first.content_type.include?("image")%>
                                                    <%if post.images.count>1%>
                                                        <div id="Carousel<%=post.id%>" class="carousel slide" data-bs-ride="carousel">
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner">
                                                          <% post.images.each_with_index do |image, index| %>
                                                            <div class="carousel-item <%= 'active' if index == 0 %>">
                                                              <%= image_tag image.representation(resize_to_limit: [600, 600]), id: "oneImg",:"data-postId" => post.id ,alt: "Slide #{index + 1}"%>
                                                            </div>
                                                          <% end %>
                                                        </div>

                                                        <!-- Left and right controls -->
                                                      <button class="carousel-control-prev" type="button" data-bs-target="#Carousel<%=post.id%>" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next next" type="button" data-bs-target="#Carousel<%=post.id%>" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <%else%>

                                                    <div class="image-container">
                                                      <% post.images.each do |image| %>
                                                        <%= image_tag image.representation(resize_to_limit: [600, 600]), id: "oneImg", :"data-postId" => post.id %>
                                                      <% end %>
                                                    </div>

                                                      <%end%>
                                                    <% else %>
                                                      <%=video_tag url_for(post.images.first),controls: true,width: "600",height: "auto",id:"oneVideo" ,:"data-postId"=>post.id%>
                                                    <% end %>
                                    <%end%>

                             </div>
                             <div>
                              <p>"<%=post.caption%>"</p>
                             </div>
                              <%if post.status=="shared"%>
                              <%if !(post.shared.include?current_account.email)%>

                                  <p>Post By:<%=post.shared%><span class="badge rounded-pill text-bg-success">Shared</span></p>

                            <%else%>
                                 <p>You Shared This Post</p>
                            <%end%>
                             <%end%>
                              <%if !(post.likes.find_by(email:current_account.email))%>
                                       <%= render partial: "likes/likes",locals:{my_post:post}%>
                              <%else%>
                                       <%= render partial: "likes/unlike",locals:{my_post:post}%>
                              <%end%>
                             <%=link_to "Share",share_post_path(post),data:{turbo_method: :post},id:"commentBtn" ,class:"btn btn-primary"%>
                            <%=link_to "Comment",new_post_comment_path(post),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>

                            </div>
                          </div>
                          </div>
                        <% end %>
                  <%end%>
                <%end%>
              </div>
          <%end%>
        <%else%>
          <%=@message%>
          <%if @post!=nil%>
             <div class="feed" >
                <%@profile.each do |profile|%>
                  <%@post.each do |post|%>
                      <%if profile.posts.count>0 && post.profile_id==profile.id%>
                          <div class="row">
                            <div id="eachPost">
                            <div class="col lg-6">
                              <%=image_tag profile.profile_picture.representation(resize_to_limit: [250, 250]),class: "post_img"%>
                            <%=link_to "#{profile.user_name}",profile_path(profile.id),class:"btn btn primary"%>
                              <p class="location"><%=post.location%></p>
                              <div class="eachImage">
                               <%if post.images.attached?%>
                                                    <%if  post.images.first.content_type.include?("image")%>
                                                    <%if post.images.count>1%>
                                                        <div id="Carousel<%=post.id%>" class="carousel slide" data-bs-ride="carousel">
                                                        <!-- Wrapper for slides -->
                                                        <div class="carousel-inner">
                                                          <% post.images.each_with_index do |image, index| %>
                                                            <div class="carousel-item <%= 'active' if index == 0 %>">
                                                              <%= image_tag image.representation(resize_to_limit: [600, 600]), id: "oneImg",:"data-postId" => post.id ,alt: "Slide #{index + 1}"%>
                                                            </div>
                                                          <% end %>
                                                        </div>

                                                        <!-- Left and right controls -->
                                                      <button class="carousel-control-prev" type="button" data-bs-target="#Carousel<%=post.id%>" data-bs-slide="prev">
                                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Previous</span>
                                                        </button>
                                                        <button class="carousel-control-next next" type="button" data-bs-target="#Carousel<%=post.id%>" data-bs-slide="next">
                                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                          <span class="visually-hidden">Next</span>
                                                        </button>
                                                      </div>
                                                      <%else%>

                                                    <div class="image-container">
                                                      <% post.images.each do |image| %>
                                                        <%= image_tag image.representation(resize_to_limit: [600, 600]), id: "oneImg", :"data-postId" => post.id %>
                                                      <% end %>
                                                    </div>

                                                      <%end%>
                                                    <% else %>
                                                      <%=video_tag url_for(post.images.first),controls: true,width: "600",height: "auto",id:"oneVideo" ,:"data-postId"=>post.id%>
                                                    <% end %>
                                    <%end%>
                                      </div>
                                       <p>"<%=post.caption%>"</p>
                             </div>
                              <%if post.status=="shared"%>
                              <%if !(post.shared.include?current_account.email)%>

                                  <p>Post By:<%=post.shared%><span class="badge rounded-pill text-bg-success">Shared</span></p>

                            <%else%>
                                 <p>You Shared This Post</p>
                            <%end%>
                             <%end%>
                              <%if !(post.likes.find_by(email:current_account.email))%>
                                       <%= render partial: "likes/likes",locals:{my_post:post}%>
                              <%else%>
                                       <%= render partial: "likes/unlike",locals:{my_post:post}%>
                              <%end%>
                             <%=link_to "Share",share_post_path(post),data:{turbo_method: :post},id:"commentBtn" ,class:"btn btn-primary"%>
                            <%=link_to "Comment",new_post_comment_path(post),data:{turbo_frame: "comment"},id:"commentBtn" ,class:"btn btn-primary"%>
                          </div>
                          </div>
                        <% end %>
                  <%end%>
                <%end%>
              </div>
        <% end %>
        <%end%>
  </div>
</div>
<style>

  .main{
    margin-top: 40px;
  }
  .eachImage{
    margin-top: 8px;
  }
  .post_img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    top:20px;
  }
  #eachPost
  {
    margin-bottom: 30px;
    width: min-content;
  }
  .next{
    left: 500px
  }
  .feed
  {
    width: min-content;
  }
  #feedContainer
  {
    width: max-content !important;
  }
</style>
