<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flow", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main">
      <div class="container">
        <nav class="navbar navbar-light bg-white">
          <a class="navbar-brand navbar-link" href="/">
            <img src="https://www.freepnglogos.com/uploads/logo-ig-png/logo-ig-instagram-new-logo-vector-download-13.png" width="30" height="30" class="d-inline-block align-top" alt="">
              INSTAGRAM
          </a>
        </nav>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
